CheckOptions:
  - key: readability-identifier-length.MinimumVariableNameLength
    value: '0'
  - key: readability-identifier-length.MinimumParameterNameLength
    value: '0'
  - key: readability-identifier-length.MinimumLoopCounterNameLength
    value: '0'
  - key: readability-identifier-length.MinimumExceptionNameLength
    value: '0'
  - key: readability-identifier-naming.ClassCase
    value: CamelCase  
